<ion-view title="Friends">
  <ion-nav-buttons side="left">
    <button class="button button-clear ">
      Edit
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-person-add"></a>
  </ion-nav-buttons>
  <ion-content view-title="Friends" has-header="true">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img ng-src="img/camara.png">
        <h2>You</h2>
        <p>59793</p>
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img ng-src="img/perfilpsd.png">
        <h2>Cesar F.</h2>
        <p>51000</p>
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img ng-src="img/perry.png">
        <h2>Perry W.</h2>
        <p>41123</p>
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

