<ion-view title="Account">
  <ion-content view-title="Account" has-header="true">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img ng-src="img/camara.png">
        <h2>Victor Camacho</h2>
        <p>Joined December 16, 2015</p>
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img ng-src="img/fitbit.png">
        <h2>Charge HR</h2>
        <p>Connected</p>
        <div class="icon">
          <i class="ion-battery-low icon-accessory"></i>
          &nbsp;
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left">
        <div class="icon">
          <i class="ion-ios-plus-empty"></i>
        </div>
        <h2>Configure a device</h2>
      </ion-item>
      <ion-item class="item-divider">
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left">
        <h2>Fitbit Store</h2>
        <div class="icon">
          <i class="ion-ios-cart"></i>
        </div>
      </ion-item>
      <ion-item class="item-divider">
        <h3>Objectives</h3>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right">
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
        <h3>Activity</h3>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right">
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
        <h3>Excercise</h3>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right">
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
        <h3>Nutrition & Body</h3>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right">
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
        <h3>Sleep</h3>
      </ion-item>
      <ion-item class="item-divider">
        <h3>Settings</h3>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right">
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
        <h3>Excercise Monitoring</h3>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right">
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
        <h3>Heart Rate Zones</h3>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right">
        <div class="icon">
          <i class="ion-chevron-right icon-accessory"></i>
        </div>
        <h3>Advanced Settings</h3>
      </ion-item>
      <ion-item class="item-divider">
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left">
        <h2>Close Session</h2>
      </ion-item>
      <ion-item class="item-divider">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
